:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: auto;
  min-height: 100%;
}

.Sliders {
  margin: auto;
  padding: 1rem;
  display: grid;
  align-content: flex-start;
}

.Picker {
  background-color: darkgrey;
  max-width: 20rem;
  padding: 1rem;
  margin: 3rem;
}
